<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        SELECT setmeal_id FROM setmeal_dish WHERE dish_id IN
        <foreach collection="dishIds" item="dishId" open="(" close=")" separator=",">
            #{dishId}
        </foreach>
    </select>

    <insert id="insertBatch">
        INSERT INTO setmeal_dish (setmeal_id, dish_id, name, price, copies) VALUES
        <foreach collection="setmealDishes" item="dish" separator=",">
            (#{dish.setmealId}, #{dish.dishId}, #{dish.name}, #{dish.price}, #{dish.copies})
        </foreach>
    </insert>

    <delete id="deleteBatchBySetmealIds">
        DELETE FROM setmeal_dish WHERE setmeal_id IN
        <foreach collection="setmealIds" item="setmealId" separator="," open="(" close=")">
            #{setmealId}
        </foreach>
    </delete>

    <select id="getSetmealDishesBySetmealId" resultType="com.sky.entity.SetmealDish">
        SELECT * FROM setmeal_dish WHERE setmeal_id = #{setmealId}
    </select>
</mapper>